/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: var(--font-basic, --font-secondary);
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
  color: var(--text-basic-color, inherit);
}
