/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-basic, --font-secondary);
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
  color: var(--text-basic-color, inherit);
}

.wrapper {
  box-sizing: border-box;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}
