.effect {
  margin-bottom: 29px;
}

.effect__title {
  //
}

.effect__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: start;
    gap: 135px 37px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.effect__item {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 250px;
    margin-bottom: 0;
  }
}


.effect__item::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-image: var(--effect);
  background-color: var(--back-color, #68b738);
  background-size: 26px 30px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.effect__item--health {
  --effect: url("../../icons/stack.svg#health");

  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#effect_one");
    background-position: right;
    height: 100%;
  }
}

.effect__item--water {
  --effect: url("../../icons/stack.svg#water");

  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#effect_two");
    background-position: right;
    height: 100%;
  }
}

.effect__item--food {
  --effect: url("../../icons/stack.svg#food");

  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#effect_three");
    background-position: right;
    height: 100%;
  }
}

.effect__item--time {
  --effect: url("../../icons/stack.svg#time");

  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#effect_four");
    background-position: right;
    height: 100%;
  }
}

.effect__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}
