.extra {
  margin-bottom: 40px;
}

.extra__title {
  margin-bottom: 49px;
}

.extra__list {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 31px;
}

.extra__present {
  background-color: var(--background-color, inherit);
}
