.extra-item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.extra-item__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: var(--font-secondary, inherit);
  font-size: 16px;
  line-height: 1;
  color: var(--text-dark-color, inherit);
  text-transform: uppercase;
}

.extra-item__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  width: 100%;
  max-width: 350px;
  font-size: 14px;
  line-height: 1;
}

.extra-item__key {
  //
}

.extra-item__value {
  margin: 0;
}

.extra-item__button {
  width: 100%;
  max-width: 350px;
}
