.hero {
  position: relative;
  font-family: var(--font-secondary, inherit);
  width: 100%;
  background-image: url("../../images/cat-hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 85%;
  color: var(--text-light-color, inherit);

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;
  left: 0;
  top: 0;
  background-color: var(--background-color, rgba(104, 183, 56, 0.85));
}

.hero__title {
  font-size: 36px;
  line-height: 1;
  text-align: center;
}

.hero__subtitle {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.hero__image {
  //
}

.hero__link {
  text-decoration: none;
}
