.hero {
  width: 100%;
  text-align: center;
  position: relative;
  font-family: var(--font-secondary, inherit);
  color: var(--text-light-color, inherit);
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 85%;
}

.hero::before {
  background-image: url("../../images/cat-hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;


  @media (min-resolution: 2dppx) {
    background-image: url("../../images/cat-hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/cat-hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/cat-hero-desktop@2x.jpg");
    }
  }
}

.hero::after {
  top: 0;
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, rgba(104, 183, 56, 0.85) 302px, var(--back-secondary, f2f2f2) 302px);


  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    background-color: var(--background-color, rgba(104, 183, 56, 0.85));
    background-position: left 100vh top;
  }
}

.hero__title {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 1;
  text-align: center;
}

.hero__subtitle {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.hero__image {
  //
}

.hero__link {
  display: block;
  max-width: 350px;
  margin: 0 auto;
  text-decoration: none;
}
