.main-header {
  display: grid;
  width: 100%;
  margin-bottom: 20px;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  margin: 0 auto;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    margin-bottom: 63px;
  }
}

.main-header__logo {
  display: contents;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 13px;
  }
}
