.main-footer {
  display: grid;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

.main-footer__logo {
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 0 0 var(--border, #e6e6e6);

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}
