.results {
  background-color: var(--back-grey, #eaeaea);
}

.results__wrapper {
  @media (min-width: $desktop-width) {
    background-color: linear-gradient(var(--back-secondary, #f2f2f2) 23%, var(--back-grey, #eaeaea) 77%);
  }
}

.results__title {
  //
}

.results__description {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.results__info {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.results__list {
  //
}

.results__cost {
  font-family: var(--font-secondary, inherit);
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: var(--text-secondary-color, inherit);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-items: end;
    gap: 8px;
    font-size: 20px;
    line-height: 1;
    margin-left: auto;
  }
}

.results__slider {
  display: flex;
  flex-wrap: wrap;
}
