.results {
  background-color: var(--back-grey, #eaeaea);
}

.results__title {
  //
}

.results__description {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.results__info {
  //
}

.results__list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.results__cost {
  font-family: var(--font-secondary, inherit);
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: var(--text-secondary-color, inherit);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.results__slider {
  display: flex;
}
