.results-list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 43px;
}

.results-list__item {

  text-align: center;
}

.results-list__number {
  margin-bottom: 8px;
  font-family: var(--font-secondary, inherit);
  font-size: 24px;
  line-height: 1;
  color: var(--text-secondary-color, inherit);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.results-list__description {
  max-width: 80px;
  margin: 0;
  font-size: 12px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1;
  }
}
