.results {
  background-color: var(--back-grey, #eaeaea);

  @media (min-width: $tablet-width) {
    background-color: var(--back-basic, #ffffff);
  }
}

.results__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    background-image: linear-gradient(var(--back-basic, #ffffff) 23%, var(--back-grey, #eaeaea) 23%);
  }
}

.results__title {
  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.results__description {
  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
  }
}

.results__info {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 450px;
    justify-content: start;
  }
}

.results__list {
  //
}

.results__cost {
  font-family: var(--font-secondary, inherit);
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: var(--text-secondary-color, inherit);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-items: end;
    gap: 8px;
    font-size: 20px;
    line-height: 1;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 60px;
    margin: 0;
  }
}

.results__slider {
  display: grid;
  grid-template-columns: 50% 50%;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}


.results__slider-image--fat {
  width: 50%;
  object-position: left;
  object-fit: cover;
}

.results__slider-image--slim {
  width: 50%;
  object-position: right;
  object-fit: cover;
}
