.site-list {
  display: flex;
  gap: 33px;
  font-family: var(--font-secondary, inherit);
  font-size: 20px;
  line-height: 1;
  list-style-type: none;
}

.site-list__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-secondary-color, inherit);
}


.site-list__item--current a::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: 100%;
    margin: 10px auto 0;
    border-bottom: 2px solid var(--current-basic, #68b738);
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid var(--current-secondary, #ffffff);
  }
}
